body{
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix{
    clear: both;
}
.container{
    width: 1170px;
    margin: auto;
}

/*Starting header*/
.header .slider{
    height: 600px;
    background-image: url('/images/coo.jpg');
    background-size: cover;
    
}
.header .slider .intro{
    text-align: center;
    color: #fff;
    padding-top: 200px;
}
.header .slider .intro h2{
    margin: 0 auto;
    font-size: 50px;
    width: 600px;
    border-top: #fff solid 4px;
    border-bottom: solid #fff 4px;
    padding: 5px 0;
    
}
.header .slider .intro button{
    background: none;
    margin-top: 40px;
    font-size: 20px;
    border: #fff solid 2px;
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    cursor: pointer;
}
.header .navbar{
    background-color: #252f31;
    color: #fff;
    overflow: hidden;
}
.header .navbar h2{
    float: left;
    text-transform: uppercase;
}
.header .navbar span{
    color: #2ecc71;
}
.header .navbar ul{
    list-style: none;
    padding-left: 0;
    float: right;
}
.header .navbar ul li{
    float: left;
    padding: 10px 15px;
}
.header .navbar ul li a{
    color: #fff;
    text-decoration: none;
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover{
    color: #30b576;
}
/*Ending header*/

/*Starting features*/
.features{
    overflow: hidden;
    padding: 50px 0;
}
.features .feat{
    float: left;
    width: 33.33%;
    height: 150px;
}

.features .feat h2{
    color: #555;
}
.features .feat p{
    line-height: 1.6;
    color: #888;
    margin: 0 20px 0 0;
}
/*End features*/

/*starting about me*/
.about-me{
    background-color: #f2f2f2;
    overflow: hidden;
}
.about-me .image{
    float: left;
    width: 40%;
}
.about-me .image img{
    width: 100%;
}

.about-me .info{
    float: left;
    width: 60%;
    
}
.about-me .info h2{
    margin: 30px 0 20px 40px;
    color: #555;
}
.about-me .info > p{
    margin: 0 0 10px 40px;
    line-height: 1.6;
    color: #888;
}
.about-me .info p:last-of-type{
    margin-top: 25px;
    padding-bottom: 30px;
}
.about-me .info .hoobies{
    overflow: hidden;
    margin: 15px 0 20px 40px;
}
.about-me .info .hoobies h3{
    color: #555;
}
.about-me .info .hoobies p{
    color: #888;
}
.about-me .info .hoobies .content{
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
}
.about-me .info .hoobies .content .icon{
    float: left;
    width: 12%;
    margin-right: 5%;
}
.about-me .info .hoobies .content .icon img{
    max-width: 100%;
    margin: 30px 10px 0 0;
}
.about-me .info .hoobies .content .text{
    float: left;
    width: 83%;
}
.about-me .info .hoobies .content .text p{
    margin-top: 0;
}
.about-me .info .hoobies .content .text h3{
    margin-bottom: 5px;
}
/*ending about me*/

/*starting my skills*/
.my-skills{
    padding: 30px 0 50px;
    overflow: hidden;
}

.my-skills .skills,
.my-skills .progress{
    float: left;
    width: 50% ;
}

.my-skills .skills h2{
    margin: 30px 0 20px 40px;
    color: #555;
}
.my-skills .skills   p{
    margin: 0 0 10px 40px;
    line-height: 1.6;
    color: #888;
}
.my-skills .skills p:last-of-type{
    margin-top: 25px;
    padding-bottom: 30px;
}
.my-skills .skills button{
    background: none;
    border: 3px solid #2dcc70;
    color: #2dcc70;
    cursor: pointer;
    padding: 10px 30px;
    margin-left: 40px;
    font-size: large;
}
.my-skills .tech{
    margin-left: 40px;
}
.my-skills .tech h3{
    color: #555;
}
.my-skills .tech div{
    background-color: #f2f2f2;
    height: 25px;
}
.my-skills .tech div span{
    background-color: #2dcc70;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: right;
    color: #fff;

}
/*ending my skills*/

/*strting resume*/
.resume{
    background-color: #f2f2f2;
    text-align: center;
    padding-top: 50px ;
    padding-bottom: 70px;
}
.resume button{
    background: none;
    border: 3px solid #2dcc70;
    color: #2dcc70;
    cursor: pointer;
    padding: 10px 30px;
    font-size: large
}
.resume h2{
    color: #555;
    font-weight: bold;
    
}
.resume p{
    color: #888;
    padding-bottom: 30px;
    padding-top: 20px;
}
/*ending resume*/

/*starting my education*/
.my-education{
    padding: 30px 0;
    overflow: hidden;
}
.my-education .main{
    float: left;
    width: 50%;
    margin-right: 5%;
}

.my-education .main h2{
    margin: 30px 0 20px 40px;
    color: #555;
}
.my-education .main p{
    margin: 0 0 10px 40px;
    line-height: 1.6;
    color: #888;
}
.my-education .main p:last-of-type{
    margin-top: 25px;
    padding-bottom: 30px;
}
.my-education .exp{
    float: left;
    width: 45% ;
}
.my-education .exp h3{
    margin-top: 80px;
    margin-bottom: 10px;
}
.my-education .exp span{
    display: block;
    margin-bottom: 8px;
}
.my-education .exp span:first-of-type{
    color: #999;
}
.my-education .exp span:last-of-type{
    color: #fff;
    background-color: #2dcc70;
    display: inline;
    padding: 4px 10px;
}
hr{
    margin: 30px 0;
    background-color: #999;
    height: 1px;
    border: 0;
}
.my-education .exp p{
    line-height: 1.6;
    color: #888;
}
/*ending my education*/

/*starting testimonials*/
.testimonials{
    background-color: #f2f2f2;
    text-align: center;
    padding: 50px 0 70px;
}
.testimonials q{
    line-height: 1.8;
    color: #888;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}
.testimonials h3{
    color: #555;
    margin: 30px 0;

}
.testimonials ul{
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-top: 10px;
}
.testimonials ul li{
    width: 15px;
    height: 15px;
    border: 2px solid #2dcc70;
    display: inline-block;
}
.testimonials ul li.active{
    background-color: #2dcc70;
}
.testimonials ul li:hover{
    background-color: #2dcc70;
    cursor: pointer;
}
/*ending testimonials*/

/*starting portfolio*/
.portfolio{
    padding: 50px 0 70px;
    text-align: center;
}
.portfolio h2{
    color: #555;
}
.portfolio p{
    color:#888;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;

}
.portfolio .our-work{
    overflow: hidden;
}

.portfolio .our-work > div{
    float: left;
    width: 33.3333%;
    margin-bottom: 15px;
}
.portfolio .our-work > div img{
    width: 92%;
    margin: 8px;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
}
/*ending portfolio*/

/*starting contact me*/
.contact{
    background-color: #252f31;
    overflow: hidden;
    padding: 50px 0 70px;
}
.contact .info{
    width: 50%;
    float: left;
    margin-right: 5%;
}
.contact h2{
    color: #fff;
    margin-left: 40px;
}
.contact p{
    color: #6a6e71;
    margin-left: 40px;
    line-height: 1.6;

}
.contact p strong{
    color: #d1d6da;
}

.contact .form{
    width: 45%;
    float: left;
}
.contact .form label{
    display: block;
    color: #d1d6da;
    padding-bottom: 10px;
}
.contact .form input[type="text"]{
    background-color: #4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 15px;
}
.contact .form textarea{
    background-color: #4b5557;
    color: #fff;
    padding: 10px;
    border: 0;
    width: 80%;
    margin-bottom: 10px;
    height: 300px;
}
.contact .form input[type="submit"]{
    background-color: #191e22;
    color: #fff;
    padding: 10px 20px;
    border: 0;
    margin: 0px;
}
/*Ending contact me*/

/*starting footer*/
.footer{
    text-align: center;
    background-color: #191e22;
    color: #6a6e71;
    padding-top: 18px;
    min-height: 20px;
    overflow: hidden;
}

.footer p{
    margin-top: 0;
}
.footer ul{
    list-style: none;
    padding-left: 0;
    margin-top: 10px;

}
.footer ul li{
    display: inline-block;
    margin-bottom: 0;
    padding: 10px 10px;
}
/*ending footer*/
